[submodule "androrm"]
	path = androrm
	url = git@github.com:OnlyInAmerica/androrm.git
[submodule "android-async-http"]
	path = android-async-http
	url = https://github.com/OnlyInAmerica/android-async-http
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/OnlyInAmerica/ActionBarSherlock
[submodule "Android-ViewPagerIndicator"]
	path = Android-ViewPagerIndicator
	url = https://github.com/OnlyInAmerica/Android-ViewPagerIndicator
[submodule "ParallaxScrollView"]
	path = ParallaxScrollView
	url = git@github.com:OnlyInAmerica/ParallaxScrollView.git
[submodule "Android-Universal-Image-Loader"]
	path = Android-Universal-Image-Loader
	url = https://github.com/nostra13/Android-Universal-Image-Loader.git
[submodule "TouchImageView"]
	path = TouchImageView
	url = https://github.com/OpenWatch/TouchImageView.git
[submodule "facebook-android-sdk"]
	path = facebook-android-sdk
	url = git@github.com:facebook/facebook-android-sdk.git
